.container {
	display: flex;

	input[type='checkbox'] {
		-webkit-appearance: none;
		appearance: none;

		& + label {
			width: 1.5rem;
			height: 1.5rem;
			background-color: var(--white);
			border: 1px solid var(--light-gray);
			border-radius: 4px;
			display: inline-block;
			position: relative;
			cursor: pointer;
			transition: all 0.3s ease;
		}

		& + label::after {
			content: '';
			position: absolute;
			display: none;
			top: 40%;
			left: 50%;
			width: 6px;
			height: 12px;
			border: solid var(--blue);
			border-width: 0 2px 2px 0;
			border-radius: 1.5px;
			transform: translate(-50%, -50%) rotate(45deg);
		}

		&:checked + label {
			background-color: var(--light-blue);
			border-color: var(--blue);
		}

		&:checked + label::after {
			display: block;
		}
	}
}
